*{
    margin: 0;
    padding: 0;
}

.box{
    border: 2px black solid;
    height: 100px;
    width: 100px;
    padding: 2px;
    margin: 10px;
}
    h1{
        text-align: center;
    }
#container{
    height: 50%;
    width: 50%;
    border: 2px dashed black;
    padding: 10px;
    margin: 10px;
    background-color: lavender;
     /* flexbox directions */
     display: flex;
     flex-direction:row-reverse;
}

#box1{
    background-color: aqua;
}
#box2{
background-color: blueviolet;
}
#box3{
    background-color: yellow;
}
#box4{
    background-color: orange;
}