* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section {
  height: 50%;
  width: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xx-large;
  color: cornflowerblue;
}
main section .green {
  margin: 20px;
  padding: 20px 30px;
  background-color: rgb(118, 227, 144);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: rgb(246, 236, 149);
  outline: none;
  font-size: 18px;
}