* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
} 

.xylophone {
  height: 300px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: flex-end;
  gap: 10px;
  user-select: none;
  cursor: pointer;
}

.xylo {
  width: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s ease;
  box-shadow:
    inset 0 -6px 0 rgba(0, 0, 0, 0.25),
    inset 0 6px 0 rgba(255, 255, 255, 0.25),
    0 12px 18px rgba(0, 0, 0, 0.35);
  font-family: monospace;
  font-size: xx-large;
  color: rgb(42, 41, 41);
  font-weight: 700;
}

.xylo:nth-child(1) {
  height: 300px;
  background-color: #d92e13;
}
.xylo:nth-child(2) {
  height: 280px;
  background-color: #ff6d23;
}
.xylo:nth-child(3) {
  height: 260px;
  background-color: #fefe3a;
}
.xylo:nth-child(4) {
  height: 240px;
  background-color: #94e175;
}
.xylo:nth-child(5) {
  height: 220px;
  background-color: #75d1e8;
}
.xylo:nth-child(6) {
  height: 200px;
  background-color: #014b9b;
}
.xylo:nth-child(7) {
  height: 180px;
  background-color: #583a91;
}
.xylo:nth-child(8) {
  height: 160px;
  background-color: #e42b35;
}
.xylo:nth-child(9) {
  height: 140px;
  background-color: #ff6d23;
}
.xylo:nth-child(10) {
  height: 120px;
  background-color: #fefe3a;
}
.xylo:nth-child(11) {
  height: 100px;
  background-color: #75d1e8;
}

.xylo:hover {
  transform: scale(0.95);
}
