*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    font-family: Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 20px 50px;
    margin-top: 20px;
    background-color: crimson;
    color: aliceblue;
    cursor: pointer;
}