*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

button{
    padding: 20px 30px;
    margin: 20px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: xx-large;
    border: none;
    border-radius: 20px;
    background-color: crimson;
    color: aliceblue;
    z-index: 9999;
    position: absolute;
}

button:active{
    scale: 0.95;
}