*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body,html{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px 30px;
    margin: 20px;
    font-size: xx-large;
    font-weight: 500;
    background-color: crimson;
    color: white;
    border-radius: 20px;
    border: none;
}
button:active{
    scale: 0.95;
}