*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:monospace;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
#card{
        height: 200px;
        width: 600px;
        background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#progress{
    height: 20px;
    width: 90%;
    margin: 20px;
    /* background-color: green; */
    border-radius: 20px;
    border: 2px solid black;
}

#bar{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 20px;
}

#below{
    display: flex;
    gap: 200px;
}
button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
button:active{
    scale: 0.95;
}