*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box{
    height: 500px;
    width: 500px;
    border: none;
    border-radius: 10px;
    background-color: rgb(20, 220, 177);
}

#btn{
    padding: 30px 100px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    background-color: crimson;
    font-size: xx-large;
}
#btn:active{
    scale: 0.95;
}