* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

.card{
  width: 300px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  padding: 30px;
  background-color: #fff;
}

.card img{
  height: 150px;
   width: 150px;
   border-radius: 10px;
}
.card h2{
  border-radius: 50%;
  margin-bottom: 20px;
}
.card h3{
  font-size: 26px;
  white-space: nowrap;
}
.card h4{
  font-size: 18px;
  margin-top: 10px;
  color: crimson;
  margin-bottom: 10px;
}


.card p{
  font-size: 14px;
}
